:root {
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --branding-color: #65558f;
  --primary-color: rgba(125, 27, 104, 0.1);
  --project-color: #dae7e3;
  --about-color: #efefa6eb;
  --contact-color: #f3deafeb;
}

body {
  font-family: var(--heading-font-family);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.header {
  overflow-x: hidden;
  max-width: 100vw;
  padding: 100px 5%;
  margin-bottom: 50px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: var(--heading-font-family);
}

.header h1 {
  font-size: 60px;
  line-height: 80px;
}

p {
  font-weight: normal;
  line-height: 30px;
  font-size: 18px;
  text-align: justify;
  line-height: 2;
}

/* Homepage */

.header-homepage {
  background: var(--primary-color);
  text-align: right;
}

.header-homepage h2 {
  text-align: right;
  border-top: 1px solid;
  font-size: 38px;
}

.info {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

.homepage-section {
  margin: 50px 100px 50px 100px;
}

.button {
  text-align: center;
  margin-bottom: 60px;
}

/* Project Page */
.btn {
  border: none;
  background: var(--branding-color);
  color: white;
  font-size: 18px;
  padding: 15px 30px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  line-height: 27px;
  display: inline-block;
  font-weight: 400;
}

.btn:hover {
  cursor: pointer;
}

.header-project {
  background: var(--project-color);
}

.header-project h1 {
  text-align: right;
}

.section-project h2 {
  font-weight: bold;
  text-align: center;
  margin-top: 40px;
}

.img-weather {
  padding-right: 0;
}

/* About Page */

.header-about {
  text-align: left;
  background: var(--about-color);
}

.about-section {
  margin-top: 50px;
}

.about-section h1 {
  font-size: 40px;
  font-weight: bold;
  font-family: var(--heading-font-family);
}

.about-section h2 {
  font-size: 25px;
}

/* Contact Page */

.header-contact {
  background: var(--contact-color);
}

.header-contact h1 {
  text-align: left;
}

.section-contact {
  text-align: center;
  padding: 50px;
}

/* components*/

.container {
  background: var(--primary-color);
  margin-bottom: 50px;
  border-radius: 10px;
}

.email-link {
  display: flex;
  text-transform: none;
  justify-content: center;
}

.line {
  border-bottom: 1px solid;
}

img {
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .header h1 {
    font-size: 48px;
    text-align: center;
  }

  .header h2 {
    font-size: 28px;
    text-align: center;
  }

  .container {
    margin-top: 0;
    padding: 0 30px 5%;
    text-align: center;
  }

  .section-project h2 {
    margin-top: -40px;
    padding-top: 0;
  }

  .button {
    margin-bottom: 10px;
  }
}
